//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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
strict-peer-dependencies=false
@kherrisan:registry=https://npm.pkg.github.com